<section class="container d-flex justify-content-around pt-4">
    <mat-card class="col-sm-4 d-inline-block align-top h-100">
        <form [formGroup]="categoryForm" #formDirective="ngForm">
            <mat-card-title>Categoría</mat-card-title>
            <mat-card-content>
                <mat-form-field class="w100">
                    <input matInput formControlName="nameCategory" placeholder="Nombre categoría" autocomplete="off">
                </mat-form-field>
                <mat-checkbox formControlName="active" class="w100">Activo</mat-checkbox>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="submitForm(categoryForm)">Guardar</button>
                <button mat-raised-button (click)="resetForm()">Cancelar</button>
            </mat-card-actions>
        </form>
    </mat-card>

    <mat-card class="col-sm-7 d-inline-block">
        <mat-table [dataSource]="listCategories" class="w100" cols="3">
            <ng-container matColumnDef="nameCategory">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let category"> {{category.nameCategory}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
                <mat-cell *matCellDef="let category"> {{category.active}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                <mat-cell *matCellDef="let category"><a (click)="deleteCategory(category.idCategory)"><i
                            class="material-icons">delete</i></a></mat-cell>
            </ng-container>

            <ng-container matColumnDef="update">
                <mat-header-cell *matHeaderCellDef> Actualizar </mat-header-cell>
                <mat-cell *matCellDef="let category"><a (click)="loadData(category)"><i
                            class="material-icons">edit</i></a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</section>